@light-gray: #c5c8c6;
@lightest-gray: whitesmoke;
@gray: #373b41;
@dark-gray: #282a2e;

@white: #fcfcfc;
@black: #282a2e;
@blue: #007db2;
@light-blue: #00b4ff;
@green: #26a65b;
@orange: #e97f02;
@purple: #9B59B6;
@red: #e74c3c;
@yellow: #f4d03f;
